@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos extra, si quieres conservar lo de los inputs: */
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
